/* GENERAL STYLING */
.container {
    width: 100%;
    height: 100%;
}

.content {
    overflow-x: hidden;
    height: 100%;
    overflow-y:visible;
}

.sidebar {
    float: left;
    width: 25%;
    max-width: 300px;
    height: 100vh;
}

/* SIDEBAR STYLING */
.logo {
    padding-top: 5vh;
    height: 25vw;
    max-height: 300px;
    perspective: 800px;
}

/* Credit https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css*/
#logoControl {
    display: none;
}

#logoControl:checked + label > .logoCard {
    transform: rotateY( 180deg );
}

.logoCard .img:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

.logoCard {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.logoCard .img {
    width: 80%;
    height:80%;
    display: block;
    margin: auto;
    backface-visibility: hidden;

    /*https://ctrlq.org/code/19282-css-round-images*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 99em;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.logoCard figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  
}

.logoCard .back {
  transform: rotateY( 180deg );
}



.menu {
    list-style: none;
    text-align: center;
    padding-left: 0;
    width: 80%;
    margin: auto;
    display: block;
}

.menu li {
    margin-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font-weight: 400;
    transition: 0.3s;
}

.menu li:hover {   
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.menu h1 {
    margin-top: 0.5vh;
    margin-bottom:0;
}

.menu h2 {
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
}


/* GRID STYLING */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 1vw;
}

.grid {
    width:90%;
    margin: auto;
    margin-right: 0;
    padding-top: 5vh;
}

/* CARD STYLING */
.card {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.label {
    border-radius: 0 0 5px 5px;
}

.label .title, .subtitle {
    margin: 0;
    margin-left: 0.5vw;
}

.label .title {
    margin-top: 1vh;
}

.label .subtitle {
    margin-top: 0.5vw;
    padding-bottom: 1vh;
}

.card img {
    border-radius: 5px 5px 0 0;
}

/* GRID NAVIGATION STYLING */
.gridNavigation {
    width: 100%;
    
    margin-left: 43%;
    clear: both;
}

.gridNavigation .previous, .next {
    float:left;
    width: 5%;   
    margin-top: 4%; 
}

.gridNavigation .previous {
    margin-right: 2%;
}

.hoverShadow {
    text-shadow: 0 0 0 rgba(0,0,0,0);
    transition: 0.3s;
}

.hoverShadow:hover {
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

/* ABOUT PAGE STYLE */
.profilePicture {
    width: 40%;
    margin: auto;
    /*margin-top: 5%;*/
    padding-top: 7vh;
}

.iconBar {
    width: 100%;
    margin: auto;
    margin-left: 45%;
    

}

.iconBar .icon {
    width: 3%;
    margin-right: 1%;
    float: left;
    margin-bottom: 20px;

    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;  

}

.iconBar .icon:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
}

.iconBar .icon img {
    width:100%;
    display: block
}

#aboutText {
    width: 550px;
    max-width: 40%;
    text-align: justify;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* PROJECT TEMPLATE STYLING */
.projectContainer {
    width: 80%;
    margin: auto;
    margin-left:20%;
    padding-top: 5vh;
}

.factsheet {
    max-width: 20%;
    float:left;
    margin-right: 5%;
}

#projectDescription {
    width: 550px;
    max-width: 80%;
    float:left;
}

figcaption {
    font-style: italic;
}
