/*.sidebar {
  background-color: burlywood;
}

.content {
  background-color: orange;
}*/

html, body
{
    margin: 0px; padding: 0px;
    color: #071108;
    font-size: 1vw;
    /*font-family: 'Harmattan', sans-serif;*/
}

a:link, a:visited { 
    color: inherit;
    text-decoration: none;
}

a:link:active, a:visited:active { 
    color: inherit;
}

.bigText {
    font-size: 1.5vw;
    font-weight: 600;
}

.mediumText {
    font-size: 1vw;
    font-weight: 100;
}

.smallText {
    font-size: 0.8vw;
}

.smallestText {
    font-size: 0.7vw;
}