html {
    /* https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/ */
    font-size:calc(1em + 1vmax);

    width:100%; height:100%;
    background:#222222;
    color:white;

    /* background:#100f10 url(../img/mutazione_background.svg) center center no-repeat;
    background-attachment: fixed;
    background-size:auto 100%; */
}

body, .container {
  width:100%; height:100%;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.topbar {
  flex-basis:10vh;
  align-self: flex-start;
}

.content {
  flex-basis:90vh;
  display:flex;
  flex-flow:column;
  justify-content:center;
}

/* Grid */

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
.grid > * {
  margin:1em;
  width: 10em;
  max-width:40vmin;
  height: 10em;
  max-height:40vmin;
}

.gridElement {
  transition: all 0.3s ease-out;  
  border-radius: 1000vmax;
  border:0.4em solid #3a343200;
}

.gridElement:hover {
  transform: scale(1);
  border-radius: 1000vmax;
  border:0.4em solid #3a3432ff;
}

/* Top bar */
.title-group {
  transition: all 0.3s ease-out;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  
  background: #3a343200;
  padding: 0.3em 0.8em 0.3em 0.3em;
  border-radius: 1000vh;
  margin-top:5vh;
  margin-left:3vh;


}

.title-group:hover
{
  background: #3a3432ff;
}

.title-group > * {
  /* margin:0.5em; */
}

.title-icon {  
  width: 2em;
  height: 2em;
}

.title-text-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left:1em;

  /* background: #3a4750;
  padding: 0.3em 0.8em 0.3em 0.8em;
  border-radius: 16px; */
}

.title-text-title {
  font-size:1em;
  color:#f4f0bfff;
}

.title-text-subtitle {
  font-size:0.75em;
  color:#d82c59ff;
}